# Neovim
Session.vim
.Session.vim
doc/tags
.netrwhist

# Lua
lua-language-server/
.luarc.json

# OS specific
.DS_Store
desktop.ini
Thumbs.db

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo
*.swn
*~
*.bak
*.tmp

# Test files
tests/
misc/

# Logs and databases
*.log
*.sqlite

# Local development
.env
.env.local

# Cache and build folders
.cache/
dist/
build/

# Node/npm artifacts
node_modules/
package-lock.json
yarn.lock

# Python artifacts
venv/
__pycache__/

